<div class="github fade-in {{if @loading 'loading'}}">
  <a href="https://github.com/DearthFunk" disabled={{@loading}}>
    <img src="github.png" alt="GitHub" width="120" height="120">
  </a>
  <a href="https://www.youtube.com/channel/UCjqaaKr5_B3-WgbfdIszlgA" disabled={{@loading}}>
    <img src="youtube.png" alt="Youtube" width="120" height="120">
  </a>
</div>
<div class="name {{if @loading 'loading'}}" role="button" {{on "click" (fn (mut @loading) false)}}></div>
<div class="msg fade-in {{if @loading 'loading'}}">Tinkerer, Builder, Coder, Musician.</div>
<a class="mail fade-in {{if @loading 'loading'}}" href="mailto:dearth@dearthfunk.com">dearth@dearthfunk.com</a>